<tr id="<%=id%>">
	<td>Changes to</td>
	<td>$</td>
	<td></td>
	<td>at</td>
	<td><%= calendar_date_select_tag "e_date_and_time", nil, :time => true, :class => "search_form_input" %></td>
</tr>
	