.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
background: yellow;
}


/* ######### Default class for drop down menus ######### */

.anylinkcss{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 0px solid black;
border-bottom-width: 0;
font: normal 12px Verdana;
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: rgb(255,213,120);
width: 200px; /* default width for menu */
font-family: Verdana, Arial, Helvetica, sans-serif;

}

.anylinkcss ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcss ul li a{
width: 100%;
display: block;
text-indent: 3px;
padding: 2px 0;
text-decoration: none;
text-indent: 5px;
color: #003366;
font-weight: bold;

}

.anylinkcss a:hover{ /*hover background color*/
background: rgb(17,99,154);
color: white;

}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 0px solid black;
padding: 10px;
font: normal 12px Verdana;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #DEFFCA;
}

.anylinkcsscols .column{
width: 130px;
float: left;
}

.anylinkcsscols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcsscols li{
padding-bottom: 3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;
}

.anchorclass {
	color:#FFF;
	background: rgb(17,99,154);
	width: 300px; /* default width for menu */	
	/*padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:7px;*/
    line-height: 35px;
    padding:10px;
    padding-right:20px;
    padding-left:20px;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.anchorclass:hover {
	
	background: rgb(255,160,24);
	
}

.selectedanchor {
	background: rgb(255,160,24);
}

.activeanchor {
	background: rgb(255,160,24);
}

