<tr>
	<td>&nbsp;</td>
	<td align="center" valign="middle" id="footer">&copy; 2011 RaceMenu,
  Inc. All rights reserved. | <%= link_to "About Us", about_path %> | <%= link_to "Contact Us", contact_path %> | <%= link_to "Terms of Use" , terms_path %> | <%= link_to "Privacy Policy", policy_path %> </td>
	<td>&nbsp;</td>
</tr>