<% content_for :head_title do %>Contact Us<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => nil}%><% end %>
<% content_for :top_area do %>	<%= image_tag "header500.jpg", :style=>"padding-left:130px;margin-top:16px;" %>
	
	<% end %>
<table width="900" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="6">&nbsp;</td>
<td width="774" class="tableHEAD"></td>
    <td width="120" class="sidebarHeaderText">Featured Events </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
<td id="tableROWS">
	
		
	<h1 class="text_pages">Contact RaceMenu</h1>
	
	<p class="text_pages">
	<strong>Electronically:</strong><br/>
	To reach us about anything at all, please send an email to:
	<br/>
	<span style="padding-left:20px;padding-top:15px">        
	<a href="mailto:help@racemenu.com">help@racemenu.com</a>
	</span>
	<br/><br/>
	<strong>Snail-mail:</strong><br/>
	To send us something the old-fashioned way, please send mail to:
	<br/>
	<span style="padding-left:20px;padding-top:15px">
	RaceMenu, Inc.
	<br/>
	</span>
	<span style="padding-left:20px"> 
	PO Box 201
	<br/>
	</span>
	<span style="padding-left:20px">   
	Boston, MA 02117<br/>
	<br/>
	</span>
	<strong>In person:</strong><br/>
	To visit our office, please point your GPS to:<br/>
	<span style="padding-left:20px;padding-top:15px">
	RaceMenu, Inc.<br/>
	</span>
	<span style="padding-left:20px"> 
	c/o BzzAgent, Inc. – Back of the Hive<br/>
	</span>
	<span style="padding-left:20px"> 
	500 Harrison Avenue<br/>
	</span>
	<span style="padding-left:20px"> 
	Boston, MA 02118<br/>
	</span>
	<br/>
	<strong>Last resort:</strong><br/>
	
	If you’ve already emailed us, you're absolutely desperate and must speak to someone urgently, call us at:<br/>
	<span style="padding-left:20px">617.444.9090 (10am-5pm EST)</span><br/>
If your debit/credit card was not accepted, please call your card issuer b/c we can't help.
	
	</p>
	
</td>
    <td align="left" valign="top" id="ads" width="120">
    	<%= render :partial => 'shared/ads'%>
    	
	</td>
	<td style="padding-right:10px;"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td id="tableBOTTOMshadow">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <%= render :partial => 'shared/footer'%>
</table>