<% content_for :head_title do %>Privacy Policy<% end %>
<% content_for :top_nav do %><%= render :partial => 'shared/top_nav', :locals => {:param => nil}%><% end %>
<% content_for :top_area do %><%= image_tag "header500.jpg", :style=>"padding-left:130px;margin-top:16px;" %>
<!--<table><tr><td style="padding-left:25px;padding-top:30px;" valign="bottom" class="pageTITLE">About RaceMenu: </td></tr></table>-->
	
<% end %>
	
<table width="900" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="6">&nbsp;</td>
<td width="774" class="tableHEAD"></td>
    <td width="120" class="sidebarHeaderText">Featured Events </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
<td id="tableROWS">

<h1 class="text_pages">Privacy Policy</h1>
<p class="text_pages">RaceMenu is committed to providing a safe and secure website and protecting your privacy.  Our privacy policy serves to notify you of the information which we gather and how it may be used.</p>
</p>
<p class="text_pages">Information We Collect About Everyone<br/>
We use cookies and IP addresses to collect anonymous, non-personal, aggregate information about how visitors use the RaceMenu websites. Cookies are small text/data files that are transferred to your web browser and stored on your hard drive to track your website usage patterns. IP addresses are numbers which are automatically assigned to your computer via the portal through which you access the Internet, such as an ISP, workplace or school. RaceMenu may share this aggregate information with unrelated third parties to improve our website, products and services.
</p>
<p class="text_pages">Information We Collect About You<br/>
We also collect personal information about you when you register for an event, such as your name, address and billing information. We use this information to provide you with our services and to notify you of additional products or services that we feel may be of interest to you. Generally, we do not share this personal information with other parties unless we have your prior opt in consent.  We will, however, share this information to comply with the law or to protect the rights, property, or safety of RaceMenu, our users, or others.   
</p>
<p class="text_pages">Other Stuff Our Lawyer Makes Us Say<br/>
This privacy policy applies to RaceMenu websites only. Our websites may provide links and pointers to websites maintained by other companies and organizations. RaceMenu provides these links as a convenience to our users, even if we may not operate, control or endorse such sites. RaceMenu disclaims any responsibility for the information on those sites and any products or services offered there, and cannot vouch for the privacy policies of such sites. RaceMenu does not make any warranties or representations that our own sites or any linked sites will function without error or interruption, that defects will be corrected, or that the sites and their servers are free of viruses and other problems that can harm your computer.  
</p>
<p class="text_pages">Policy Changes<br/>
This privacy policy is effective as of July 31, 2009. We may need to change it from time to time and will post any changes to this policy as soon as they go into effect. 
</p>
	
</td>
    <td align="left" valign="top" id="ads" width="120">
    	<%= render :partial => 'shared/ads'%>
    	
	</td>
	<td style="padding-right:10px;"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td id="tableBOTTOMshadow">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <%= render :partial => 'shared/footer'%>
</table>