<html>
<body>
	
Hello <%= @first_name %>, <br />
<p>	
	Your registration to <%= @event.name %> is confirmed. <br />
	Here are the details of registration: <br />
	
	<table>
		
	</table>
</p>

</body>
</html>
