<html>
 <body>

<center>
<div style="border:3px double #1647b2;margin:10px;padding-left:20px;padding-right:20px;margin-left:30px;margin-right:30px;width:550px;">
 
 <%= @user.email %>, Your password has been reset
 
  <p>
 <img src="http://racemenu.com/images/pb_racemenu.gif" style="border:0;">
 </p>
</div>
</html>